
/*** Styles ***/
.red
{
	color: #d21515;
}
.black
{
	color: #3d3d3d;
}
.topsec{
	background:#131313;
}
.steps ul {
    color: #fff;
    height: auto;
    list-style: outside none none;
    overflow: hidden;
    padding: 0;
	float: right;
}
.steps ul li {
    float: left;
    padding: 15px 7px;
	font-size: 13px;
}
.steps span {
    color: #fe3535;
    font-weight: bold;
}
.rd_circle {
    background: #d21515 none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    padding: 7px 12px;
    width: 35px;
	color: #fff !important;
}
.gry_circle {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    padding: 7px 12px;
    width: 35px;
	color: #3d3d3d !important;
}

.main_cnt{
	clear: both;
	height:auto;
	overflow: hidden;
}
.main_cnt h1 {
    font-size: 28px;
    line-height: 41px;
    text-align: center;
	color:#d21515;
	font-weight: bold;
}
.main_cnt h1 > span {
    color: #3d3d3d;
}
.txt_gif {
    text-align: center;
}
.txt_gif > img {
    max-width: 100%;
}
.inner_cnt h3 {
    font-size: 21px;
    text-align: center;
	margin-bottom: 30px;
}
.inner_cnt span {
    font-weight: bold;
}
.cnt_frm {
    clear: both;
    display: block;
    height: auto;
   /*  overflow: hidden; */
}
.brd_rht > p {
    clear: both;
    display: block;
    margin-top: 20px;
    padding-left: 15px;
}
.cnt_frm input {
    height: 50px;
}
.cmmn_brd {
    border: 1px solid #efefef;
    border-radius: 10px;
    clear: both;
    height: auto;
    margin: 20px auto;
    padding: 10px 15px;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
    border: 1px solid #dee2e7;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 6px 7px -4px rgba(0, 0, 0, 0.05) inset;
    font-size: 1em;
    margin-bottom: 0.58824em;
    padding: 0.8em;
    transition: all 0.25s ease-in-out 0s;
}
.main_frm {
    background: #d21515 none repeat scroll 0 0;
    clear: both;
    color: #fff;
    height: auto;
    overflow: hidden;
    padding: 20px;
}
.main_frm input {
    height: 40px;
}
.frm_btn {
    background: #e4e4e4 none repeat scroll 0 0;
    clear: both;
    color: #3d3d3d;
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 5px auto;
    width: auto;
	padding: 15px 50px;
}
.frm_bnt:hover, .frm_btn:focus{
	background: #3d3d3d !important;
	color: #fff;
}

.bubble_txt {
    clear: both;
    height: auto;
    overflow: hidden;
	margin: 20px auto;
	width: 80%;
	text-align: center;
}
.triangle-right::after {
    border-color: #e4e4e4 transparent;
    border-style: solid;
    border-width: 20px 20px 0 0;
    bottom: -20px;
    content: "";
    display: block;
    left: 450px;
    position: absolute;
    width: 0;
}
.triangle-right {
    background: #e4e4e4;
    border-radius: 10px;
    color: #131313;
    margin: 1em 0 3em;
    padding:20px 15px;
    position: relative;
	font-size: 18px;
}
.bubble_txt > img {
    max-width: 100%;
}
.footer-warp {
    background: #0b0b0b none repeat scroll 0 0;
    color: #fff;
    height: auto;
    text-align: center;
	clear:both;
}
.footer-warp p {
    margin: 0;
    padding: 15px 0;
}
.chkout h1 {
    border-bottom: thin dashed #ccc;
    color: #d21515;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
	font-size: 24px;
}
.chkout_info {
    border-bottom: thin dashed #ccc;
    padding: 10px 0; clear: both;
}
.chkout_title {
    color: #d21515;
    font-size: 36px;
    font-weight: bold;
}
.chkinfo {
    background: #95bb10 none repeat scroll 0 0;
    border-radius: 10px;
    clear: both;
    color: #fff;
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    width: 100%;
}
.lv_gry {
    background: #464545 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
.chklisting {
    background: #131313 none repeat scroll 0 0;
    border-radius: 10px;
    padding: 0 10px;
}
.listinginfo > span {
    color: #95bb10;
    display: block;
}
.c_tit {
    font-size: 18px; color: #fff !important;
}
.listinginfo {
    border-right: thin dashed #ccc;
    padding: 10px;
}
.price {
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin: 32px 0;
}
.pricedetails  span {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.brd_top{
	border-top: thin dashed #ccc;
	padding-top: 10px;
	clear:both;
}
.brd_rht{
	border-right: thin dashed #ccc;
}
.chkout_details {
    clear: both;
    display: block;
    height: auto;
	overflow: hidden;
	margin: 30px 0 20px;
}
.chkout_details > p {
    margin: 10px 0;
}
.shippingdetails input {
    width: 100%;
}
.shippingdetails select {
    width: 100%;
}
/*dropdown*/
.bootstrap-select.btn-group,
.bootstrap-select.btn-group[class*="span"] {
    float: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 0;
}
.form-search .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group {
    margin-bottom: 0;
}

.bootstrap-select.btn-group.pull-right,
.bootstrap-select.btn-group[class*="span"].pull-right,
.row-fluid .bootstrap-select.btn-group[class*="span"].pull-right {
    float: right;
}

.input-append .bootstrap-select.btn-group {
    margin-left: -1px;
}

.input-prepend .bootstrap-select.btn-group {
    margin-right: -1px;
}

.bootstrap-select:not([class*="span"]) {
    width: 100%;
}

.bootstrap-select {
    width: 220px\9; /*IE8 and below*/
}

.bootstrap-select > .btn {
    width: 100%;
	border: 1px solid #dee2e7;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 6px 7px -4px rgba(0, 0, 0, 0.05) inset;
    font-size: 1em;
    margin-bottom: 0.58824em;
    padding: 0.8em;
    transition: all 0.25s ease-in-out 0s;
	background: #fff;
}

.bootstrap-select.show-menu-arrow.open > .btn {
    z-index: 1001;
}

.bootstrap-select .btn:focus {
    outline: thin dotted #333333 !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}

.bootstrap-select.btn-group .btn .filter-option {
    overflow: hidden;
    position: absolute;
    left: 12px;
    right: 25px;
    text-align: left;
}

.bootstrap-select.btn-group .btn .caret {
    position: absolute;
    right: 12px;
	top:14px;
}

.bootstrap-select.btn-group > .disabled,
.bootstrap-select.btn-group .dropdown-menu li.disabled > a {
    cursor: not-allowed;
}

.bootstrap-select.btn-group > .disabled:focus {
    outline: none !important;
}

.bootstrap-select.btn-group[class*="span"] .btn {
    width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu dt {
    display: block;
    padding: 3px 20px;
    cursor: default;
}

.bootstrap-select.btn-group .div-contain {
    overflow: hidden;
}

.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
}

.bootstrap-select.btn-group .dropdown-menu li > a.opt {
    padding-left: 35px;
}

.bootstrap-select.btn-group .dropdown-menu li > a {
    min-height: 20px;
    cursor: pointer;
}

.bootstrap-select.btn-group .dropdown-menu li > dt small {
    font-weight: normal;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark {
    display: inline-block;
    position: absolute;
    right: 15px;
    margin-top: 2.5px;
}

.bootstrap-select.btn-group .dropdown-menu li a i.check-mark {
    display: none;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px;
}

.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: 0.5em;
}

.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:hover small,
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:focus small {
    color: #64b1d8;
    color: rgba(255,255,255,0.4);
}

.bootstrap-select.btn-group .dropdown-menu li > dt small {
    font-weight: normal;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-top: 7px solid #ccc;
  border-bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    right: 12px;
    left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    right: 13px;
    left: auto;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
    display: block;
}
.c_dwn {
    border-radius: 30px;
    color: #c4c4c4;
    height: 15px;
    padding: 0 1px;
    position: absolute;
    right: 12px;
    top: 15px;
    width: 15px;
}
/*** Ends ***/

.shippingdetails h3 {
    padding: 0 15px;
}
.billing {
    background: #131313 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}
.chkout_btn {
    background: #d21515 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    margin: 20px 0 0;
    padding: 13px 60px;
}
.stptwo > p {
    font-size: 16px;
}
.stptwo ul li {
    font-size: 16px;
    line-height: 26px;
}
.anlyz_err {
    text-align: center;
}
.err_fd {
    background: #d21515 none repeat scroll 0 0;
    border-radius: 10px;
    height: 260px;
}
.err_fd > span {
    color: #fff;
    display: block;
    font-size: 5em;
    font-weight: bold;
    padding-top: 0;
	height: 155px;
}
.err_fd > p {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}
.fix_btn {
    background: #131313 none repeat scroll 0 0;
    color: #fff;
    font-size: 24px;
    padding: 12px 45px;
	border-radius: 10px;
}
hr.brd_top{
	margin-bottom:0;
}
.listcnt > h2 {
    margin-top: 0;
}
.listcnt > p {
    font-size: 16px;
    font-weight: bold;
}
.listinfo {
    background: #d21515 none repeat scroll 0 0;
    clear: both;
    color: #fff;
    overflow: hidden;
    padding: 15px 0;
	font-size: 18px;
    font-weight: bold;
}
.listdetails {
    clear: both; height: auto; overflow: hidden; border-bottom: thin dashed #ccc;
}
.listbusiness, .listaddress, .listphone {
    padding: 30px 0;
}
.pdd_no{
	padding:0;
}
.cmmn_img{
	max-width: 100%;
}
.drk_gry {
    background: #3d3d3d none repeat scroll 0 0;
    color: #fff;
    margin-bottom: 20px;
}
.drk_gry_lg_txt {
    font-size: 70px;
    font-weight: bold;
}
.drk_cmnt {
    margin-top: 20px;
}
.cmmn_brd ul {
    list-style: outside none none;
}
/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 70px;
	bottom: auto;
	border: 12px solid;
	border-color: #d21515 transparent transparent #d21515;
}
/* Right triangle placed top right flush. */
.talk-bubble {
	margin: 0;
	display: inline-block;
	position: relative;
	width: 200px;
	height: auto;
	background-color: #d21515;
}

.round{
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

}
.bubble_rev p {
    font-weight: bold;
    margin-top: 20px;
    padding-left: 35px;
}
/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
	color: #fff;
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  font-weight: normal !important;
    padding: 0 !important;
}
.author {
    left: 245px;
    position: absolute;
    top: 90px;
}
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	/* border: 20px solid;
	border-color: #666 transparent transparent #666; */
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: #d21515 transparent transparent #d21515;
}
.live_review {
    background: #ccc none repeat scroll 0 0;
    border: 3px solid #ccc;
    border-radius: 10px;
    display: block;
    margin: 30px 0;
    padding: 30px 20px;
}
.live_review > span {
    clear: both;
    display: block;
    padding-left: 85px;
    padding-top: 20px;
}
.livtit {
    padding: 5px 20px;
	background: #3d3d3d none repeat scroll 0 0;
}
.example-right::after {
    border-color: transparent #d21515 ;
    border-style: solid;
    border-width: 0 20px 20px 0;
    bottom: -18px;
    content: "";
    display: block;
    left: 50px;
    position: absolute;
    width: 0;
}
.example-right {
    background: #d21515 repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    margin: 0;
    padding: 15px 30px;
    position: relative;
	border-left: 0;
}
.example-right > p {
    font-weight: normal;
    margin-top: 0;
    padding: 0;
}
.bubble_rev {
    border-bottom: thin dashed;
}
.brd_no {
    border: medium none !important;
}
.lgt_gry{
	 background: #ececec none repeat scroll 0 0; color: #3d3d3d;
}
.res-error {
	color:red;
}